* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

header {
  height: 100px;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  background-image: url();
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
}

.grid div {
  /* border: 1px solid; */
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

div.start {
  background-color: rebeccapurple;
  font-size: 40px;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
}

.grid div.frog {
  background-color: green;
  background-size: 300px;
}

.grid div.splat {
  background-color: red;
  background-size: 300px;
}

.grid div.winner {
  background-color: goldenrod;
  background-size: 300px;
  border-radius: 50%;
}

.grid div.lily {
  background-color: lightgreen;
  background-size: 300px;
  border-radius: 50%;
}

.grid div.car1 {
  background-color: black;
  background-size: 300px;
}

.grid div.car2 {
  background-color: darkgray;
  background-size: 300px;
}
