* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
}

div.title {
  text-align: center;
}

h1 {
  font-size: 60px;
  color: darkgreen;
  margin-top: 30px;
}

div.game-wrapper {
  display: flex;
  justify-content: space-evenly;
  height: 75%;
}

div.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 128, 0, 0.2);
  background-image: url();
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
}

div.grid div {
  /* border: 1px solid black; */
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

div.buttons {
  text-align: center;
}

div.start, div.reset, div.gameEndText {
  margin-bottom: 30px;
}

div.start, div.reset {
  font-size: 40px;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
}

div.start {
  background-color: rebeccapurple;
}

div.reset {
  background-color: violet;
}

div.gameEndText {
  font-size: 25px;
}

.grid div.frog {
  background-image: url();
  background-color: green;
  height: 100%;
  width: 100%;
  background-size: 300px;
  border-radius: 20px;
}

.grid div.lily {
  background-image: url();
  background-color: lightgreen;
  background-size: 300px;
  border-radius: 50%;
}

.grid div.splat {
  background-color: red;
  background-size: 300px;
}

.safespace {
  background-color: honeydew;
  background-size: 300px;
}

.grid div.car1 {
  background-color: black;
  background-size: 300px;
  height: 100%;
  width: 100%;
}

.grid div.car2 {
  background-color: darkgray;
  background-size: 300px;
  height: 100%;
  width: 100%;
}

.road {
  background-color: gainsboro;
  background-size: 300px;
  border-top: white 1px dashed;
  border-bottom: white 1px dashed;
}

.river1 {
  background-color: skyblue;
  background-size: 300px;
}

.river2 {
  background-color: mediumturquoise;
  background-size: 300px;
}

.river1 div.log {
  background-color: burlywood;
  background-size: 300px;
  height: 100%;
  width: 100%;
}

.river2 div.log {
  background-color: burlywood;
  background-size: 300px;
  height: 100%;
  width: 100%;
}

.grid div.winner {
  background-color: goldenrod;
  background-size: 300px;
  border-radius: 50%;
}