* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  background-image: url(../images/beach-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.title {
  text-align: center;
}

h1 {
  font-size: 80px;
  color: darkgreen;
  margin: 20px auto;
}

div.game-wrapper {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

div.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 128, 0, 0.2);
  background-image: url();
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
}

div.grid div {
  /* border: 1px solid black; */
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

div.buttons {
  text-align: center;  
}

div.start, div.reset, div.gameEndText {
  margin-bottom: 30px;
}

div.start, div.reset {
  font-size: 40px;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
}

div.start {
  background-color: forestgreen;
}

div.reset {
  background-color: palegreen;
}

div.gameEndText {
  font-size: 25px;
}

.grid div.frog {
  background-image: url(../images/pixel-frog-transparent.png);
  height: 100%;
  width: 100%;
  background-size: 60px;
  border-radius: 18px;
}

.grid div.lily {
  background-image: url(../images/pixel-lilypad-transparent.png);
  background-size: 60px;
  height: 100%;
  width: 100%;
}

.safespace {
  background-color: honeydew;
  background-size: 300px;
}

.grid div.car {
  background-image: url(../images/pixel-car-transparent-facing-right.png);
  background-size: 60px;
  height: 100%;
  width: 100%;
}

.grid div.car2 {
  background-image: url(../images/pixel-car-transparent.png);
  background-size: 60px;
  height: 100%;
  width: 100%;
}

.road {
  background-color: gainsboro;
  background-size: 300px;
  border-top: white 1px dashed;
  border-bottom: white 1px dashed;
}

.river1 {
  background-color: skyblue;
  background-size: 300px;
  display: flex;
  align-items: center;
}

.river2 {
  background-color: mediumturquoise;
  background-size: 300px;
  display: flex;
  align-items: center;
}

.river1 div.log, .river2 div.log {
  background-color: burlywood;
  background-size: 300px;
  height: 75%;
  width: 100%;
  border-top: 1px solid saddlebrown;
  border-bottom: 1px solid saddlebrown;
}